/* This eye css was inspired from a video of DarkCode:
/* https://www.youtube.com/watch?v=9Yk_bR0cFOc*/

:root {
    --lens-top: 0%;
}

.eye {
    position: fixed;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    border: solid 1px black;
    border-radius: 75% 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    overflow: hidden;
}

.eye-ball {
    width: 100px;
    height: 100px;
    border: 30px solid #75a3a3;
    border-radius: 50%;
    position: relative;
    background: #1f2e2e;
    top: var(--lens-top);
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: top .1s ease;
    z-index: -1;

}

.shut {
    width: 300px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 999;;
}

.shut span {
    display: block;
    width: 100%;
    height: var(--lens-top);
    background: #ffccb3;
    transition: height .5s ease;
}

